@import 'vars.scss';

html {
  margin-left: calc(100vw - 100%);
  font-size: 16px;
}

body {
  font-family: 'Inconsolata', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $c-text;
  overflow: auto;
}

a {
  text-decoration: none;
  color: $c-primary;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6,
ul, li,
p {
  margin: 0;
  padding: 0;
}